@import "fonts";

// Main Styles
body {
  font-family: "DIN Pro", sans-serif;
}

.wrapper {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

// Header Section Styles
.header {
  padding-top: 64px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 135px;
    height: 40px;
  }
  .menu {
    margin: 0;
    padding: 0;
    max-width: 316px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    li {
      .active {
        color: #FF9900;
        &:after {
          content: '';
          width: 71px;
          height: 2px;
          display: block;
          background: #FF9900;
        }
      }
      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;

        color: #263640;
      }
    }
  }
  .button {
    width: 145px;
    height: 40px;

    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;

    color: #FFFFFF;
    background: #FF9900;
  }
}

// Hero Section Styles
.hero {
  padding-top: 96px;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  .text {
    padding-top: 100px;
    .subtitle {
      margin: 0;
      padding-bottom: 15px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #929A9F;
    }
    .title {
      width: 470px;
      height: 90px;
      margin: 0;
      padding-bottom: 15px;

      font-weight: bold;
      font-size: 32px;
      line-height: 45px;

      color: #263640;
    }
    .desc {
      width: 427px;
      height: 84px;
      margin: 0;
      padding-bottom: 38px;

      font-weight: normal;
      font-size: 16px;
      line-height: 28px;

      color: #929A9F;
    }
    .button {
      width: 209px;
      height: 40px;
      margin: 0;

      gap: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 700;
      font-size: 16px;
      line-height: 40px;
      text-decoration: none;

      color: #FFFFFF;
      background: #FF9900;
    }
  }
  .image {
    filter: drop-shadow(-50px 100px 0px #F7F8FA);
    position: absolute;
    right: 0;
    img {
      width: 593px;
      height: 750px;
      filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
    }
  }
}

// Service Section Styles
.service {
  margin-top: 170px;
  padding-top: 178px;
  padding-bottom: 168px;
  background: #F5F8FA;
}

.service__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;

  color: #263640;
}

.service__desc {
  width: 489px;
  height: 112px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #929A9F;
}

.service__container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .preview {
    width: 312px;
    height: 333px;
  }
  h3 {
    width: 222px;
    height: 60px;
    margin: 0;
    padding-top: 24px;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #263640;
  }
  p {
    width: 312px;
    height: 112px;
    margin: 0;
    padding-top: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #929A9F;
  }
  a {
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;

    color: #FF9900;
    img {
      padding-left: 8px;
    }
  }
}

// History Section Styles
.history {
  background: linear-gradient(to bottom, #F5F8FA 65%, #FFFFFF 35%);
  margin-bottom: 256px;
}

.history__container {
  position: relative;
}

.history__text {
  width: 1009px;
  height: 584px;

  background: #263640;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F5F8FA;
  .container {
    width: 494px;
    height: 412px;
    padding: 98px 0 0 98px;
    .subtitle {
      margin: 0;
      padding-bottom: 24px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #929A9F;
    }
    .title {
      width: 494px;
      margin: 0;
      padding-bottom: 24px;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;

      color: #FFFFFF;
    }
    .desc {
      width: 422px;
      height: 104px;
      margin: 0;
      padding-bottom: 56px;

      font-weight: 400;
      font-size: 16px;
      line-height: 26px;

      color: #FFFFFF;
    }
    .line {
      width: 100%;
      height: 1px;
      margin-bottom: 24px;
      display: block;
      opacity: 0.2;
      background: #FFFFFF;
    }
    .link {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-decoration: none;

      color: #FFFFFF;
      img {
        padding-left: 8px;
      }
    }
  }
}

.history__image {
  position: absolute;
  top: 98px;
  right: 0;
  img {
    width: 488px;
    height: 662px;
    filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
  }
}

// FAQ Section Styles
.faq {
  padding-bottom: 200px;
}

.faq__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .text {
    h3 {
      margin: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 45px;

      color: #263640;
    }
    p {
      margin: 0;
      padding-top: 16px;
      width: 488px;
      height: 84px;

      font-weight: normal;
      font-size: 16px;
      line-height: 28px;

      color: #929A9F;
    }
  }
  .button {
    width: 153px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background: #FF9900;
    img {
      padding-left: 16px;
    }
  }
}

.blog-title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 32px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #929A9F;
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-item {
  h4 {
    width: 361px;
    height: 60px;
    margin: 0;
    padding-bottom: 20px;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #263640;
  }
  p {
    width: 361px;
    height: 84px;
    margin: 0;
    padding-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #929A9F;
  }
  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;

    display: flex;
    align-items: center;

    color: #FF9900;
    img {
      padding-left: 8px;
    }
  }
}

// Career section styles
.career {
  width: 100%;
  height: 477px;
  background: #F5F8FA;
}

.career__container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.career__image {
  position: absolute;
  right: 0;
  top: -116px;
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
}

.career__text {
  padding-top: 101px;
  .subtitle {
    margin: 0;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #929A9F;
  }
  .title {
    margin: 0;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    color: #263640;
  }
  .desc {
    width: 327px;
    height: 84px;
    margin: 0;
    padding-bottom: 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #929A9F;
  }
  .button {
    width: 135px;
    height: 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background: #FF9900;
    img {
      padding-left: 16px;
    }
  }
}
